@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&family=Inter:wght@400;500;600;700&family=Nunito:wght@400;500;700;900&family=Rock+Salt&display=swap');

body {
  margin: 0;
  background-color: black;
}
a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-image: url(../public/img/main.jpg);
  background-size: cover;
}

.menu {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  margin: 0;
  list-style-type: none;
  font-family: sans-serif;
  color: white;
  font-weight: 200;
}
.menu li {
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu li:hover {
  color: rgb(254, 206, 255);
  text-decoration: underline;
}

.content {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.Art {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0.5px 8px 1px rgb(255, 255, 255);
}
.Art:hover {
  transform: scale(1.05);
  box-shadow: 0px 1px 10px 3px rgb(255, 255, 255);
}

.Info {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  overflow: auto;
}
.Info h3 {
  font-size: 30px;
  margin: 0;
}
.Info:hover {
  transform: scale(1.1);
}
.Info p {
  line-height: 1.7;
}

.logo {
  width: 150px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: IBM Plex Serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  margin-bottom: 30px;
  position: absolute;
  top: 70px;
  border: 1px solid #040404;
  transition: background-color 0.4s ease-in-out;
}

.logo-left {
  text-align: center;
  width: 50%;
  position: relative;
  font-family: 'Rock Salt', cursive;
}

.logo-left span {
  left: 13px;
  top: -8px;
  position: absolute;
  color: mediumvioletred;
  font-size: 18px;
}

.logo-right {
  width: 72px;
  background-color: black;
  color: white;
  text-align: center;
  align-self: center;
}
.logo:hover {
  background-color: rgb(254, 206, 255);
}

.logo:active {
  transform: scale(0.99);
  transition: transform 0.1s ease-in-out;
}

.logo-left-animation-on {
  animation-name: logo-left-animation-on;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.logo-right-animation-on {
  animation-name: logo-right-animation-on;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes logo-left-animation-on {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes logo-right-animation-on {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.logo-link {
  width: 152px;
}

.copyright {
  position: absolute;
  bottom: 25px;
  left: 45px;
  font-family: 'Rock Salt', cursive;
  font-size: 12px;
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.copyright:hover {
  color: rgb(254, 206, 255);
}
.loading {
  position: relative;
}

.loading:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #de3fc4;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.settingsImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../public/img/settings.png);
  display: flex;
  justify-content: center;
}
.settingsImage ul {
  display: flex;
  margin-top: 10px;
  column-gap: 80px;
  font-family: sans-serif;
  line-height: 1.6;
  margin-top: 200px;
}

.aboutImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url(../public/img/about-img.jpg);
}

.about {
  color: rgb(255, 255, 255);
  font-family: IBM Plex Serif;
  font-size: 20px;
  text-align: center;
  max-width: 600px;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 20px;
}
.about a {
  margin-top: 90px;
  display: block;
  font-size: 14px;
  font-family: 'Rock Salt';
  transition: color 0.4s ease-in-out;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: 90px auto 0;
}

.about a:hover {
  color: rgb(254, 206, 255);
}
